/* TRANSITIONS */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
body {
  overflow-x: hidden;
}

.min-height {
  min-height: 500px;
}